@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  min-width: 1200px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  vertical-align: baseline;
  min-width: 160px;
  border: none;

  padding-top: 10px;
  padding-bottom: 9px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;

  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.5px;

  background-image: linear-gradient(to bottom, transparent 40%, #f4d361 40%, #f4d361 42.5%, #f0c52e 42.5%, #f0c52e 57.5%, #f4d361 57.5%, #f4d361 60%, transparent 60%);
  background-color: transparent;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0,0,0,0.3);
}

.modal-close {
  position: absolute;
  width: 55px;
  height: 55px;

  top: 22px;
  right: 22px;

  font-size: 0;

  background: url("../img/icons/modal-close.svg") no-repeat top;
  opacity: 0.5;

  border: 0;
  outline: none;

  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.container {
  width: 1160px;

  padding: 0;
  margin: 0 auto;
}

.index-columns {
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.main-header {
  min-height: 220px;

  margin-bottom: 0;

  background-image: linear-gradient(#ffffff 40px, #f7e296 0);
}

.main-navigation {
  padding: 23px 60px 0;

  display: flex;
  flex-direction: column;
}

.main-header-logo {
  width: 163px;
  height: 38px;

  margin-left: 0;
  margin-top: 0;
  margin-bottom: 22px;
}

.main-header-logo[href]:hover {
  opacity: 0.5;
}

.main-header-logo[href]:active {
  opacity: 0.2;
}

.header-container {
  padding-top: 0;
  margin-bottom: 17px;

  display: flex;
}

.user-navigation,
.compare-basket-navigation,
.site-navigation,
.catalog-menu-list,
.slider-list,
.products-list,
.services-list,
.services-slides,
.partner-list {
  list-style: none;
}

.user-navigation a,
.compare-basket-navigation a,
.site-navigation a {
  color: #000000;
}

.user-navigation a:hover,
.compare-basket-navigation a:hover {
  opacity: 0.5;
}

.user-navigation a:focus,
.compare-basket-navigation a:focus {
  opacity: 0.2;
}

.search-form {
  width: 440px;

  padding: 0;
  margin: 0;
  margin-right: 100px;

  display: flex;
  justify-content: flex-start;
}

.search-form input {
  box-sizing: border-box;
  height: 49px;
  width: 355px;

  padding-top: 0;
  padding-left: 37px;
  padding-right: 15px;
  padding-bottom: 0;
  margin: 0 0;

  font: inherit;

  color: #000000;

  background-color: transparent;
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 2px 15px;

  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
}

.search-form .simple-button {
  display: none;

  height: 49px;
  width: 85px;

  font: inherit;
  text-transform: uppercase;

  background-color: transparent;

  border: 2px solid #000000;
}

.search-form input:focus {
  border-bottom: 2px solid #000000;

  opacity: 1;
}

.search-form input::placeholder {
  opacity: 0.3;
}

.search-form input:hover::placeholder {
  opacity: 0.6;
}

.search-form input:focus + .simple-button {
  display: block;
}

.simple-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.simple-button:focus,
.simple-button:active {
  display: block;
  opacity: 1;

  color: rgba(255,255,255,0.3);
}

.user-navigation {
  width: 226px;

  padding: 0;
  margin: 0;
}

.login-link {
  padding-left: 26px;
  display: inline-block;

  position: relative;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/icons/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare-basket-navigation {
  width: 214px;

  padding: 0;
  margin: 0;
  margin-left: auto;

  display: flex;
  justify-content: space-between;
}

.compare-link {
  padding-left: 20px;
  display: inline-block;

  position: relative;
}

.compare-link::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 0;

  width: 10px;
  height: 10px;

  background-image: url("../img/icons/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-link {
  padding-left: 24px;
  display: inline-block;

  position: relative;
}

.basket-link::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 3px;

  width: 12px;
  height: 12px;

  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation {
  padding: 0;
  margin: 0;

  display: flex;
}

.site-navigation a:hover {
  color: rgba(0,0,0,0.5);
}

.site-navigation a:focus {
  color: rgba(0,0,0,0.2);
}

.main-menu > a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.catalog {
  width: 500px;

  padding-right: 40px;
  display: inline-block;

  position: relative;
}

.catalog::after {
  content: "";

  position: absolute;
  top: 6px;
  right: 300px;

  width: 16px;
  height: 16px;

  background-image: url("../img/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-menu {
  display: none;

  position: absolute;
  top: 100%;
  left: -60px;

  width: 1040px;

  padding: 0;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0;

  background-color: #f7e296;

  z-index: 3;
}

.site-navigation li:first-child:hover .catalog-menu {
  display: flex;
}

.catalog-menu-list {
  max-width: 200px;

  padding: 0;
  margin: 0;
  margin-right: 40px;

  font-size: 15px;
  line-height: 36px;
}

.site-navigation li:nth-child(2),
.site-navigation li:nth-child(3) {
  margin-right: 40px;
}

.site-navigation li:last-child{
  margin-right: 0;
  margin-left: auto;
}

.product-link-virtual {
  background-image: url("../img/content/virtual.svg");
}

.product-link-monopods {
  background-image: url("../img/content/monopods.svg");
}

.product-link-camera {
  background-image: url("../img/content/camera.svg");
}

.product-link-bracelet {
  background-image: url("../img/content/bracelet.svg");
}

.product-link-smart-watch {
  background-image: url("../img/content/smart-watch.svg");
}

.product-link-quadrocopters {
  background-image: url("../img/content/quadrocopters.svg");
}


