@font-face {
  font-family: "Gilroy";
  src: url("fonts/gilroyextrabold.woff2") format("woff2"),
       url("fonts/gilroyextrabold.woff") format("woff"),
       url("fonts/gilroylight.woff") format("woff2"),
       url("fonts/gilroylight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;

  min-width: 1200px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  min-width: 160px;

  padding-top: 10px;
  padding-bottom: 9px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.5px;

  background-image: linear-gradient(to bottom, transparent 40%, #f4d361 40%, #f4d361 42.5%, #f0c52e 42.5%, #f0c52e 57.5%, #f4d361 57.5%, #f4d361 60%, transparent 60%);
  background-color: transparent;

  border: none;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0,0,0,0.3);
}

.modal-close {
  position: absolute;
  width: 55px;
  height: 55px;

  top: 22px;
  right: 22px;

  font-size: 0;

  background: url("../img/icons/modal-close.svg") no-repeat top;
  opacity: 0.5;

  border: 0;
  outline: none;

  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.container {
  width: 1160px;

  padding: 0;
  margin: 0 auto;
}

.index-columns {
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.main-header {
  min-height: 220px;

  margin-bottom: 0;

  background-image: linear-gradient(#ffffff 40px, #f7e296 0);
}

.main-navigation {
  padding: 23px 60px 0;

  display: flex;
  flex-direction: column;
}

.main-header-logo {
  width: 163px;
  height: 38px;

  margin-left: 0;
  margin-top: 0;
  margin-bottom: 22px;
}

.main-header-logo:hover {
  opacity: 0.5;
}

.main-header-logo:active {
  opacity: 0.2;
}

.header-container {
  padding-top: 0;
  margin-bottom: 17px;

  display: flex;
}

.user-navigation,
.compare-basket-navigation,
.site-navigation,
.catalog-menu-list,
.slider-list,
.products-list,
.services-list,
.services-slides,
.partner-list {
  list-style: none;
}

.user-navigation a,
.compare-basket-navigation a,
.site-navigation a {
  color: #000000;
}

.user-navigation a:hover,
.compare-basket-navigation a:hover {
  opacity: 0.5;
}

.user-navigation a:focus,
.compare-basket-navigation a:focus {
  opacity: 0.2;
}

.search-form {
  width: 440px;

  padding: 0;
  margin: 0;
  margin-right: 100px;

  display: flex;
  justify-content: flex-start;
}

.search-form input {
  box-sizing: border-box;
  width: 355px;

  padding-top: 0;
  padding-left: 37px;
  padding-right: 15px;
  padding-bottom: 0;
  margin: 0 0;

  font: inherit;
  vertical-align: bottom;

  background-color: transparent;
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 2px 10px;

  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
}

.search-form .simple-button {
  display: none;

  height: 49px;
  width: 85px;

  font: inherit;
  text-transform: uppercase;

  background-color: transparent;

  border: 2px solid #000000;
}

.search-form input:focus {
  width: 355px;

  border: none;
  border-bottom: 2px solid #000000;
}

.search-form input {
  opacity: 0.2;
}

.search-form input:hover {
  opacity: 0.5;
}

.search-form input:focus {
  opacity: 1;
}

.search-form input:focus + .simple-button {
  display: block;
  opacity: 1;
}

.simple-button:hover,
.simple-button:focus {
  display: block;
  opacity: 1;

  background-color: #000000;
  color: #ffffff;
}

.simple-button:active {
  color: rgba(255,255,255,0.3);
}

.user-navigation {
  width: 226px;

  padding: 0;
  margin: 0;
}

.user-navigation li {
  position: relative;

  padding-left: 26px;
}

.user-navigation a::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/icons/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare-basket-navigation {
  width: 214px;

  padding: 0;
  margin: 0;
  margin-left: auto;

  display: flex;
  justify-content: space-between;
}

.compare-basket-navigation .compare {
  position: relative;

  padding-left: 20px;
}

.compare a::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 0;

  width: 10px;
  height: 10px;

  background-image: url("../img/icons/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare-basket-navigation .basket {
  position: relative;

  padding-left: 24px;
}

.basket a::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 3px;

  width: 12px;
  height: 12px;

  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation {
  padding: 0;
  margin: 0;

  display: flex;
}

.site-navigation a:hover {
  color: rgba(0,0,0,0.5);
}

.site-navigation a:focus {
  color: rgba(0,0,0,0.2);
}

.site-navigation li:first-child {
  width: 256px;

  margin-right: 284px;

  position: relative;
}

.catalog::after {
  content: "";

  position: absolute;
  top: 6px;
  right: 1px;

  width: 16px;
  height: 16px;

  background-image: url("../img/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-menu > a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.catalog-menu {
  display: none;

  position: absolute;
  top: 100%;
  left: -60px;

  min-width: 1160px;

  padding: 0;
  margin: 0;

  background-color: #f7e296;

  z-index: 3;
}

.site-navigation li:first-child:hover .catalog-menu {
  display: flex;
}

.catalog-menu-list {
  max-width: 200px;

  padding: 0;
  margin: 0;
  margin-left: 60px;

  font-size: 15px;
  line-height: 36px;
}

.site-navigation li:nth-child(2),
.site-navigation li:nth-child(3) {
  margin-right: 40px;
}

.site-navigation li:last-child{
  margin-right: 0;
  margin-left: auto;
}

.slider {
  min-height: 510px;

  padding: 0;
  margin-top: 0;
  margin-bottom: 90px;

  position: relative;

  z-index: 2;
}

.slider-controls {
  position: absolute;

  bottom: 185px;
  right: 70px;

  font-size: 0;

  z-index: 1;
}

.slider-controls li {
  display: inline-block;

  width: 12px;
  height: 12px;

  margin-right: 18px;

  cursor: pointer;
}

.dot {
  background-color: transparent;
  background-image: url("../img/icons/slider-button-empty.svg");
  background-size: cover;
  background-position: center;
}

.active-dot, .dot:hover {
  background-image: url("../img/icons/slider-button.svg");
  background-size: cover;
  background-position: center;
}

.slider-list {
  padding: 0;
  margin: 0;
}

.slide {
  padding: 0;
  margin: 0;

  display: none;
}

.slide-details {
  padding: 0;
  padding-left: 599px;
  padding-top: 88px;
  margin: 0;

  width: 560px;

  position: relative;
}

#slide1 {
  background: url("../img/bg/slider-1.png") 90px 5px no-repeat,
              linear-gradient(#f7e296 120px, #ffffff 0);
}

#slide2 {
  background: url("../img/bg/slider-2.png") 90px 18px no-repeat,
              linear-gradient(#f7e296 120px, #ffffff 0);
}

#slide3 {
  background: url("../img/bg/slider-3.png") 90px 18px no-repeat,
              linear-gradient(#f7e296 120px, #ffffff 0);
}

.slide-details .slide-number::before {
  content: "";
  position: absolute;
  left: -325px;
  top: 50px;

  display: block;
  width: 100px;
  height: 7px;

  padding: 0;
  margin: 0;

  background-color: #ffffff;
}

.slide-details .slide-number {
  position: absolute;
  right: 50px;
  top: -185px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179.2px;
  line-height: 179.2px;
  font-weight: 700;
  letter-spacing: 0.6px;
  color: #ffffff;
}

.slide-details h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: 0.6px;

  z-index: 4;
}

.slide-details .button {
  width: 220px;

  margin-bottom: 42px;
}

.slide-details p {
  margin-bottom: 42px;

  letter-spacing: 0.16px;
}

.slide-description {
  padding: 0;
  margin: 0;

  border: 0;
  border-collapse: collapse;
}

.slide-description-column1 {
  width: 157px;

  padding-top: 5px;
}

.slide-description-column2 {
  width: 138px;

  padding-top: 6px;
}

.slide-details .slide-description-numbers {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 100;
}

.slide-details .slide-description-numbers-comment {
  font-size: 13px;
  line-height: 30px;
  padding-top: 5px;
}

.products-list {
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
}

.products-list li {
  padding: 0;
  margin: 0;

  vertical-align: top;
}

.products-list li:last-child {
  margin-right: 0;
}

.product {
  width: 160px;
  height: 250px;
}

.product-image {
  padding: 30px 30px;
  margin: 0 0;
  width: 100px;
  height: 100px;

  background-color: rgba(240,197,46,0.5);
}

.product a {
  padding: 0;
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 0.6px;
}

.product:active {
  opacity: 0.3;
}

.product-image:hover {
  background-color: rgba(240,197,46,1);
}

.services {
  padding: 0;
  margin: 0;
  margin-bottom: 94px;

  min-height: 388px;

  background-image: linear-gradient(#ffffff 25.6%, #e5e5e5 0);

  position: relative;
}

.services-list {
  padding: 0;
  padding-top: 80px;
  margin: 0;

  width: 280px;
  height: 240px;

  border-right: 7px solid #000000;

  position: absolute;
}

.services-item {
  width: 160px;
}

.services-item:active,
.services-item:focus,
.services-item-active {
  width: 280px;

  background-color: #000000;
  background-image: none;
  color: #f0c52e;
}

.services-slides {
  padding: 0;
  padding-left: 400px;
  padding-top: 60px;
  margin: 0;
}

.services-slide {
  width: 880px;

  padding: 0;
  margin: 0;
}

.services-slide-description {
  width: 460px;

  padding: 0;
  margin: 0;
}

.services-slide-description h3 {
  padding: 0;
  padding-top: 23px;

  margin: 0;
  margin-bottom: 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: auto;
  font-weight: 700;
  letter-spacing: 1px;
}

.services-slide-description p {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;

  letter-spacing: 0.3px;
}

.services-slide1 {
  display: none;

  background-color: transparent;
  background-image: url("../img/decor/delivery.svg");
  background-position: 558px 25px;
  background-repeat: no-repeat;
}

.services-slide2 {
  display: none;

  background-color: transparent;
  background-image: url("../img/decor/warranty.svg");
  background-position: 558px 0;
  background-repeat: no-repeat;
}

.services-slide3 {
  display: none;

  background-color: transparent;
  background-image: url("../img/decor/credit.svg");
  background-position: 520px 0;
  background-repeat: no-repeat;
}

.partner-list {
  padding: 0;
  margin: 0;
  margin-bottom: 84px;

  min-height: 100px;

  display: flex;
  justify-content: space-between;
}

.partner-list li {
  padding: 0;
  margin: 0;
}

.partner img {
  filter: grayscale(100%);
  opacity: 0.2;
}

.partner img:hover {
  filter: grayscale(0);
  opacity: 1;
}

.index-columns h2 {
  margin: 0;
  margin-top: 47px;
  margin-bottom: 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 700;

  position: relative;
}

.index-columns h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: -70px;

  display: block;
  width: 100px;
  height: 7px;

  padding: 0;
  margin: 0;

  background-color: #000000;
}

.index-columns > p {
  margin: 0;
  margin-bottom: 45px;
}

.index-columns p {
  margin: 0;
  margin-bottom: 33px;
}

.about_firm {
  width: 460px;
}

.transport-firm-list {
  padding: 0;
  padding-left: 35px;
  margin: 0;
  margin-bottom: 53px;

  font-size: 16px;
  line-height: 40px;
  font-weight: 700;

  list-style: circle;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
}

.contacts {
  width: 560px;
}

.contacts-map img {
  padding: 0;
  margin: 0;
  margin-top: 7px;
  margin-bottom: 25px;

  width: 560px;
  height: 222px;
}

.main-footer {
  padding: 65px 0;
  margin-top: 137px;

  color: #ffffff;
  background-color: #464646;
}

.main-footer a {
  color: #ffffff;
}

.main-footer a:hover {
  opacity: 0.6;
}

.main-footer a:focus {
  opacity: 0.3;
}

.main-footer-logo path {
   fill: #ffc600;
}

.container-row-1 {
  padding: 0;
  margin: 0;
  margin-bottom: 21px;

  display: flex;
  justify-content: flex-start;
}

.main-footer-logo {
  margin-right: 670px;
}

.container-row-1-links {
  padding: 0;
  margin: 0;
  margin-top: -1px;
  margin-left: 2px;

  width: 330px;

  text-align: center;

  list-style: none;

  display: flex;
  justify-content: space-between;
}

.link svg {
  padding-right: 12px;
}

.link path {
  fill: #ffc600;
}

.container-row-1-links a {
  opacity: 0.7;
}

.container-row-1-links a:hover {
  opacity: 1;
}

.container-row-1-links a:focus {
  opacity: 0.3;
}

.container-row-2 {
  margin-bottom: 59px;

  align-items: center;

  display: flex;
  justify-content: space-between;
}

.footer-contacts-address {
  margin: 0;
}

.footer-services-list {
  padding: 0;
  margin: 0;

  width: 440px;

  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;

  list-style: none;

  display: flex;
  justify-content: space-between;
}

.footer-services-item {
  font-family: "Gilroy", Arial, sans-serif;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.footer-contacts-telephone {
  text-align: right;
}

.container-row-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.container-row-3::after {
  margin: 0;
  padding: 0;

  content: "";
  position: absolute;
  left: 0;
  top: 40px;

  display: block;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}


.main-footer .line {
  background-color: #ffc600;
}

.footer-social {
  padding: 0;
  margin: 0;
}

.footer-social ul {
  padding: 0;
  margin: 0 auto;

  width: 141px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.social-button {
  width: 32px;
  height: 32px;

  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button path {
  fill: #7e7e7e;
}

.social-button:hover path {
  fill: #b5b5b5;
}

.social-button:focus path {
  fill: #595959;
}

.inner-page .container-row-1-links {
  width: 480px;

  display: flex;
}

.exit {
  margin-left: 15px;
}

.exit a {
  opacity: 0.3;
}

.modal {
  margin: 0;
  padding: 0;

  position: fixed;
}

.modal-map {
  display: none;

  top: 50%;
  left: 50%;

  margin-top: -230px;
  margin-left: -480px;

  width: 960px;
  height: 559px;
}

.modal-map p {
  margin: 0;
}

.modal-letter {
  display: none;

  top: 50%;
  left: 50%;

  margin-top: -230px;
  margin-left: -480px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 94px;
  padding-bottom: 80px;

  width: 760px;
  height: 379px;

  background-color: #ffffff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.letter-form {
  padding: 0;
  margin: 0;

  width: 760px;
}

.letter-item-container {
  display: flex;
  justify-content: space-between;
}

.letter-item {
  padding: 0;
  margin: 0;
  margin-bottom: 34px;

  width: 360px;
}

.letter-item label {
  display: block;

  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  margin-left: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.letter-item input {
  box-sizing: border-box;

  padding-top: 9px;
  padding-left: 19px;
  padding-right: 20px;
  padding-bottom: 11px;

  width: 360px;

  font: inherit;

  background-color: #f2f2f2;

  border: transparent;
  outline: none;
}

.letter-item input:hover {
  background-color: #eaeaea;
}

.letter-item input:focus {
  background-color: #ffffff;

  border: 2px solid #f0c52e;
}

.letter-item textarea {
  box-sizing: border-box;

  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

  width: 760px;
  height: 156px;

  font: inherit;

  background-color: #f2f2f2;

  border: 0;
}

.letter-form button {
  width: 200px;

  background-color: #ffffff;
}
